@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

nav {
    display: none !important;
}

#dashboard__wrapper {
    height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Quicksand", serif;
}

#dashboard__wrapper {
    display: grid;
    grid-template-rows: 0.4fr 1fr;
}

.dashboard__header {
    display: flex;
    align-items: center;
    justify-content: center;


    h1 {
        font-family: "Quicksand", serif;
        font-size: 3rem;
    }
}

.dashboard__body {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr;
    gap: 1em;
    height: 100%;
    /*place-content: end;*/
    padding: 2em;
}


.dashboard-account__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .dashboard-account__information {
        /*flex: 0.6;*/
        background-color: #ffd500;
        border-radius: 20px;
        padding: 0.8em;

        .dashboard-account-information__list {
            margin-left: 2em;
            margin-top: 1em;
            font-weight: 900;
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
            gap: 0.4em;
        }
    }

    .dashboard-account__messages {
        flex: 1;
        background-color: #ffd500;
        border-radius: 20px;
        padding: 1em;
    }

    .dashboard-account-information__buttons {
        display: flex;
        justify-content: space-between;
        gap: 1em;
        margin-top: 1em;
        cursor: pointer;

        button {
            background-color: black;
            color: white;
            font-family: "Quicksand", serif;
            padding: 0.6em;
            border: unset;
            flex: 1;
            border-radius: 50px;
            cursor: pointer;
        }

        :first-child {
            background-color: #d5d5d5;
            color: black;
            font-weight: 700;
        }

        :last-child {
            font-weight: 700;
            background-color: #ff0000;
        }
    }
}


.dashboard-course__options {
    border-radius: 20px;
    background-color: #ffd500;
    padding: 2em;

    .dashboard-course-options__header {
        display: flex;

        .dashboard-course-options-header__container {
            flex: 1;

            h4 {
                margin-top: 0.6em;
            }

        }

        .select__container {
            background-color: white;
            width: 100%;
            flex: 1;
            padding: 0.4em;
            border-radius: 10px;

            select {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                font-size: 1.2rem;
            }
        }
    }

    .dashboard-course__controls {
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        cursor: pointer;

        :first-child {
            background-color: #d5d5d5;
            color: black;
            font-family: "Quicksand", serif;
            padding: 0.8em;
            border: unset;
            flex: 1;
            border-radius: 50px;
            width: 100%;
            font-weight: 900;
            cursor: pointer;
        }

        :last-child {
            background-color: #ff0000;
            color: white;
            font-family: "Quicksand", serif;
            padding: 0.6em;
            border: unset;
            flex: 1;
            border-radius: 50px;
            width: 100%;
            font-weight: 900;
            cursor: pointer;
        }
    }

    .dashboard-instructor-controls__button {
        display: flex;
        gap: 1em;
        margin-top: 1em;

        button {
            flex: 1;
            background-color: black;
            color: white;
            font-family: "Quicksand", serif;
            padding: 0.6em;
            border: unset;
            flex: 1;
            border-radius: 50px;
            width: 100%;
            cursor: pointer;
        }

        :nth-child(1) {
            background-color: #d5d5d5;
            color: black;
            font-weight: 900;
        }

        :nth-child(2) {
            background-color: #ff0000;
            color: black;
            font-weight: 900;
            color: white;
        }
    }

    .dashboard-course__info {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        gap: 1em;

        button {
            flex: 1;
            background-color: black;
            color: white;
            font-family: "Quicksand", serif;
            padding: 0.6em;
            border: unset;
            flex: 1;
            border-radius: 50px;
            width: 100%;
            cursor: pointer;
        }

        :nth-child(1) {
            background-color: #ffffa7;
            color: black;
            font-size: 1.1rem;
            font-weight: 900;
        }

        :nth-child(2) {
            background-color: #d5d5d5;
            color: black;
            font-size: 1.1rem;
            font-weight: 900;
        }

        :nth-child(3) {
            background-color: #d5d5d5;
            color: black;
            font-weight: 900;
            font-size: 1.1rem;
        }

        :nth-child(4) {
            background-color: #000000;
            color: black;
            font-weight: 900;
            color: white;
            font-size: 1.1rem;
        }
    }
}

.dashboard__schedule {
    background-color: #ffd500;
    padding: 1em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    .dashboard-schedule__content {
        background-color: white;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0.8em;
        border-radius: 20px;
        margin-top: 1em;
    }

    .dashboard-schedules__body {
        flex: 1;
    }

    .dashboard-schedules__buttons {

        flex: 0.2;
        display: grid;
        gap: 0.4em;

        button {
            flex: 1;
            background-color: black;
            color: white;
            font-family: "Quicksand", serif;
            padding: 0.6em;
            border: unset;
            flex: 1;
            border-radius: 50px;
            width: 100%;
            cursor: pointer;
        }

        :nth-child(1) {
            background-color: #099703;
            font-weight: 800;
        }

        :nth-child(2) {
            background-color: #ffd500;
            font-weight: 800;
            color: black;
        }

        :nth-child(3) {
            background-color: #e40505;
            font-weight: 800;
            color: black;
        }


    }
}


.dashboard-account__buttons {
    button {
        flex: 1;
        background-color: black;
        color: white;
        font-family: "Quicksand", serif;
        padding: 0.6em;
        border: unset;
        flex: 1;
        border-radius: 50px;
        width: 100%;
        cursor: pointer;
    }

    :nth-child(1) {
        background-color: #ff0000;
        font-size: 1rem;
        font-weight: 800;
    }

    :nth-child(2) {
        margin-top: 1em;
        font-size: 1rem;
        font-weight: 800;
    }

}

.dashboard-account-messages__scroll {

    height: 100%;
    padding: 10px;
    max-height: 80%; /* Adjust this as needed */
    overflow-y: auto;
    display: grid;
    gap: 1em;

}

.dashboard-message__component {
    background-color: #d5d5d5;
    padding: 0.8em;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    border-radius: 20px;

    button {
        flex: 1;
        background-color: black;
        color: white;
        font-family: "Quicksand", serif;
        padding: 0.6em;
        border: unset;
        flex: 1;
        border-radius: 50px;
        width: 100%;
        cursor: pointer;
    }
}


.dashboard-schedules__body {
    background-color: white;
    height: 200px; /* Set the desired height */
    overflow-y: auto; /* Adds vertical scroll if content overflows */
    /*border: 1px solid #ccc;*/
    padding: 10px;
    /*display: grid;*/
    gap: 1em;
}

.dashboard-schedule__component {
    background-color: #d5d5d5;
    border-radius: 10px;
    padding: 0.8em;
    font-weight: 700;
}

.dashboard-account__preferences {
    background-color: #ffd500;
    border-radius: 20px;
    padding: 1em;
}

.dashboard-account-preferences__options {
    margin-left: 1em;
    margin-top: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.checkbox-info {
    display: flex;

    h3 {
        flex: 1;
        font-weight: 900;
        font-size: 1.2rem;
    }

    div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            height: 20px;
            width: 20px;
        }
    }

}

.dashboard-account-preferences__buttons {

    display: flex;
    justify-content: center;
    margin-top: 3em;
    padding: 0 3em;
    cursor: pointer;

    button {
        background-color: #ff0000;
        color: white;
        font-family: "Quicksand", serif;
        padding: 0.6em;
        border: unset;
        border-radius: 50px;
        width: 100%;
        font-weight: 900;
        cursor: pointer;
    }
}

.change__language {
    display: flex;
    align-items: center;

    div {
        display: flex;
        flex: 1;
        margin-left: 0.4em;
        align-items: center;
        gap: 1em;

        h3 {
            /*flex: 1;*/
        }

        button {
            flex: 1;
            background-color: #d5d5d5;
            color: black;
            font-family: "Quicksand", serif;
            padding: 0.6em;
            border: unset;
            border-radius: 50px;
            width: 100%;
            font-weight: 900;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}

.dashboard-instructor__controls {
    margin-bottom: 2em;
    font-weight: 900;

    p {
        font-size: 1.2rem;
    }
}

.dashboard__header {
    display: flex;
    flex-direction: column;
}

.dashboard-header__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    h3 {
        font-size: 1.8rem;
        margin-top: 0.4em;
    }
}

.dashboard-header-profile__icon {
    height: 50px;
    width: 50px;
    clip-path: circle();
    background-color: #757575;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.range {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .range__parent {
        display: grid;
        grid-template-rows: auto 1fr;

        > div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        p {
            font-weight: 900;
        }
    }
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #be9f00;
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 5px; /* Height of the dot */
    border-radius: 50px;
    background-color: #010100; /* Dot color */
    border: 3px solid #010100; /* Optional border */
    cursor: pointer; /* Change cursor on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional shadow for the dot */
    transition: background 0.3s ease; /* Smooth color transition */
}